
<div class="options">
  <div (click)="mostrar(['cars','oculter','op1'],['actions','op2'])">
    <span class="material-symbols-outlined"> garage </span>
    <h2>Modelos</h2>
  </div>
  <div (click)="mostrar(['actions','oculter'],['cars'])">
    <span class="material-symbols-outlined"> pending_actions </span>
    <h2>Acciones</h2>
  </div>
</div>

<div id="oculter" (click)="ocultar(['cars','actions','oculter'])" class="oculter oculto"></div>

<div id="cars" class="inputModal oculto">
    <div class="inputModal__election">
        <button (click)="mostrar(['op1'],['op2'])">Categoria</button>
        <button (click)="mostrar(['op2'],['op1'])">Modelos</button>
    </div>
    <div id="op1" class="inputModal__op oculto">
        <div class="inputModal__select">
            <span>Selecione la categoria</span>
            <select id="category" (change)="editar('category',['category_create'],['category_edit'],0)" name="">
                <option value="0" >Nuevo</option>
                <option *ngFor="let category of categorys" value="{{category._id}}" >{{category.name}}</option>
            </select>
        </div>
        <div class="inputModal__text">
            <span>Nombre</span>
            <input id="category_name" type="text">
        </div>
        <div class="inputModal__actions">
            <div id="category_create" class="create">
                <button (click)="category_create()">Crear</button>
            </div>

            <div id="category_edit" class="edit oculto">
                <button (click)="category_edit()">Editar</button>
                <button (click)="category_delete()">Eliminar</button>
            </div>
        </div>
    </div>

    <div id="op2" class="inputModal__op">
        <div class="inputModal__select">
            <span>Seleccione el modelo</span>
            <select id="type" (change)="editar('type',['type_create'],['type_edit'],1)" name="">
                <option value="0" >Nuevo</option>
                <option *ngFor="let type of types" value="{{type._id}}" >{{type.model}}</option>
            </select>
        </div>
        <div class="inputModal__select">
            <span>Seleccione la categoria</span>
            <select name="" id="type_category">
                <option *ngFor="let category of categorys" value="{{category._id}}" >{{category.name}}</option>
            </select>
        </div>
        <div class="inputModal__text">
            <span>Modelo</span>
            <input id="type_model" type="text">
        </div>
        <div class="inputModal__text">
            <span>Marca</span>
            <input id="type_brand"  type="text">
        </div>
        <div class="inputModal__check">
            <span>Requerimientos</span>
            <div class="inputModal__check__grid">
                <div *ngFor="let monitoring of monitorings">
                    <input class="type_monitoring" type="checkbox"  >
                    <span>{{monitoring.name}}</span>
                </div>
            </div>
        </div>
        <div class="inputModal__actions">
            <div id="type_create" class="create ">
                <button (click)="type_create()">Crear</button>
            </div>

            <div id="type_edit" class="edit oculto">
                <button (click)="type_edit()">Editar</button>
                <button (click)="type_delete()">Eliminar</button>
            </div>
        </div>
    </div>


</div>

<div id="actions" class="inputModal oculto">
    <div class="inputModal__select">
        <span>Selecione la accion</span>
        <select id="monitoring" (change)="editar('monitoring',['monitoring_create'],['monitoring_edit'],2)" name="">
            <option value="0" >Nuevo</option>
            <option *ngFor="let monitoring of monitorings" value="{{monitoring._id}}" >{{monitoring.name}}</option>
        </select>
    </div>
    <div class="inputModal__times">
        <div class="inputModal__text">
            <span>Nombre</span>
            <input id="monitoring_name" type="text">
        </div>
        <button (click)="timeadd()">Agregar</button>
        <button (click)="timeremove()">Eliminar</button>
        <div *ngFor="let number of count; let i = index" class="inputModal_times_container">
            <div>
                <div class="inputModal__select">
                    <span>Selecione el modo</span>
                    <select class="monitoring_unit" name="" id="">
                        <option value="0">Km</option>
                        <!-- <option value="1">Tiempo</option> -->
                    </select>
                </div>
                <div class="inputModal__select">
                    <span>Modo</span>
                    <select class="monitoring_mode" name="" id="">
                        <option value="0">Unico</option>
                        <option value="1">Ciclico</option>
                    </select>
                </div>
                <!--
                    <div class="inputModal__text">
                    <span>Valor minimo</span>
                    <input type="text">
                </div>
                -->
                <div class="inputModal__text">
                    <span>Valor</span>
                    <input class="monitoring_value" type="text">
                </div>
            </div>
        </div>
    </div>

    <div  class="inputModal__actions">
        <div id="monitoring_create" class="create">
            <button (click)="monitoring_create()">Crear</button>
        </div>

        <div id="monitoring_edit" class="edit oculto">
            <button (click)="monitoring_edit()">Editar</button>
            <button (click)="monitoring_delete()">Eliminar</button>
        </div>
    </div>

</div>
