.principal{
border: 2px solid var(--g);
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
display: flex;
}
.principal>div{
    padding: 30px;
    width: 50%;
}

.principal>.principal__info{
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 0px;
}
.principal>.principal__info>p{
    margin: 8px;
}

.principal>.principal__actions{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
}
.principal>.principal__actions>p{
    height: 20px;
    padding-left: 10px;
}
.history{
    padding: 20px;
}
.history__card{
    padding: 10px 20px;
    border: 2px solid var(--g);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.history__card__title{
    display: flex;
    justify-content: space-between;
}

.history__card__title>h2{
    margin: 10px 0px;
}

.history__card__title>div{
    display: flex;
}

.history__card__title>div>*{
    margin: 10px 0px;
    margin-left: 20px;

}

.gray{
    color: var(--gi);
}

.history__card__actions{
    margin-left: 20px;
}

.cambio{
    border-bottom: 4px solid var(--r);
}