<div class="principal">
  <div class="principal__info">
    <p><b>Placa</b></p>
    <p>{{vehiculo.plate}}</p>
    <p><b>Nombre Dueño</b></p>
    <p>{{vehiculo.ownerName}}</p>
    <p><b>Cedula dueño</b></p>
    <p>{{vehiculo.dniOwner}}</p>
    <p><b>Año</b></p>
    <p>{{vehiculo.year}}</p>
    <p><b>Kilometros</b></p>
    <p>{{vehiculo.km}}</p>
    <p><b>Modelo</b></p>
    <p>{{vehiculo.type.name}}</p>
  </div>
  <div class="principal__actions">
    <ng-container *ngFor="let monitoring of monitorings">
    <p><b>{{monitoring.name}}</b></p>
    <p class="cambio"></p>
    </ng-container>
    
  </div>
</div>

<div class="actions">
    <button (click)="mostrar(['oculter','review'],[])">Agregar</button>
</div>

<div class="history">
  <div *ngFor="let action of actions" class="history__card">
    <div class="history__card__title">
      <h2>{{action.title}}</h2>
      <div>
        <h4 class="gray">{{action.worker.name}}</h4>
        <h4>{{action.date}}</h4>
      </div>
    </div>
    <h3>Situacion</h3>
    <p>
      {{action.state}}
    </p>
    <h3>Resumen trabajo</h3>
    <p>
      {{action.sumary}}
    </p>
    <h3>Acciones</h3>
    <div *ngFor="let monitoring of action.monitoring" class="history__card__actions">
      <p><b>{{monitoring.name}}</b></p>
    </div>
  </div>
</div>

<div
  id="oculter"
  (click)="ocultar(['review', 'oculter'])"
  class="oculter oculto"
></div>

<div id="review" class="inputModal oculto">
  <div class="inputModal__text">
    <span>Titulo</span>
    <input id="action_title" type="text" />
  </div>
  <div class="inputModal__textarea">
    <span>Estado vehiculo</span>
    <textarea id="action_state" name=""  cols="30" rows="10"></textarea>
  </div>
  <div class="inputModal__textarea">
    <span>Resumen</span>
    <textarea id="action_sumary" name=""  cols="30" rows="10"></textarea>
  </div>
  <div class="inputModal__check">
    <span>Requerimientos</span>
    <div class="inputModal__check__grid">
      <div *ngFor="let monitoring of monitorings">
          <input class="action_monitoring" type="checkbox"  >
          <span>{{monitoring.name}}</span>
      </div>
  </div>
  <div class="inputModal__actions">
    <div class="inputModal__actions">
      <div id="action_create" class="create ">
          <button (click)="action_create()">Crear</button>
      </div>

      <div id="action_edit" class="edit oculto">
          <button (click)="action_edit()">Editar</button>
          <button (click)="action_delete()">Eliminar</button>
      </div>
  </div>
  </div>
</div>
