<div class="principal">
    <div class="principal__info">
        <p><b>Placa</b></p>
        <p>QCO90D</p>
        <p><b>Nombre Dueño</b></p>
        <p>Guillermo Leon Gallego Bedoya</p>
        <p><b>Cedula dueño</b></p>
        <p>1001418934</p>
        <p><b>Año</b></p>
        <p>2015</p>
        <p><b>Kilometros</b></p>
        <p>140000</p>
        <p><b>Marca</b></p>
        <p>Auteco</p>
        <p><b>Modelo</b></p>
        <p>Boxer ct100</p>
    </div>
    <div class="principal__actions">
        <p><b>Aceite</b></p>
        <p class="cambio">120000 kms</p>
    </div>


</div>

<div class="actions">
</div>

<div class="history">
    <div class="history__card">
        <div class="history__card__title">
            <h2>titulo</h2>
            <div>
                <h4 class="gray">Felipe Gallego</h4>
                <h4>20/01/2003</h4>
            </div>
        </div>
        <h3>Situacion</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, perspiciatis accusantium ipsam error provident quo incidunt sed, soluta porro officia impedit earum esse beatae quod, exercitationem delectus consequuntur doloribus neque.</p>
        <h3>Resumen trabajo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maxime voluptatibus est illo similique fugiat, corporis quae veniam eligendi et autem deserunt beatae dignissimos dolorem nostrum magni tenetur dolor delectus!</p>
        <h3>Acciones</h3>
        <div class="history__card__actions">
                <p><b>Aceite</b></p>
                <p><b>Liquido frenos</b></p>
                <p><b>Presion llantas</b></p>
        </div>
    </div>
</div>