.input{
    padding: 20px 80px;
    display: flex;
    align-items: center;
}

.input>input{
    width: calc(100% - 200px);
    box-sizing: border-box;
    outline: none;
    padding: 4px 10px;
    box-sizing: border-box;
}

.input>input:active{
    outline: none;
}

.input>span{
    padding: 5px 10px;
    margin: 0px 40px;
    box-sizing: border-box;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    outline: 2px solid var(--b1);
    cursor: pointer;
    user-select: none;
}

.input>span:active{
    color: white;
    background-color: var(--b1);
}

.grid-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 60px 80px;
}

.grid-list>p{
    width: 100%;
}

.oculter{
    position: absolute;
    width: calc(100vw);
    height: calc(100vh);
    background-color: var(--b);
    top: 0px;
    left: 0px;
    opacity: 0.6;
}

.inputModal{
    top: 100px;
    position: absolute;
    width: 600px;
    left: calc((100vw - 600px)/2);
    height: calc(100vh - 200px );
    background-color: var(--w);
    border-radius: 15px;
    overflow-y: scroll;
    padding: 20px;
}

.oculto{
    visibility: hidden;
    width:0px;
    height:0px;
    overflow: hidden;
}

.inputModal__election{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button{
    padding: 10px 20px;
    background-color: var(--b1);
    border-radius: 5px;
    color: var(--w);
    outline: none;
    border: none;
}

button:active{
    background-color: var(--w);
    color: var(--b1);
    outline: 2px solid var(--b1);
}

.inputModal__actions{
    margin-top: 20px;
}

.inputModal__actions button{
    width: 150px;
}

.inputModal__actions>.create{
 display: flex;
 justify-content: flex-end;
}

.inputModal__actions>.edit{
    display: flex;
    justify-content: space-around;
}

.inputModal__select{
margin-bottom: 20px;
}

.inputModal__select>span{
 margin-right: 20px;
}

.inputModal__text{
    margin-bottom: 20px;
}

.inputModal__text>span{
    margin-right: 20px;
}

.inputModal__check>span{
    font-weight: 500;
    margin-bottom: 80px;
}