<div class="input">
    <input type="text" name="" id="" placeholder="Placa - Dueño">
    <span class="material-symbols-outlined">search</span>
</div>

<div class="grid-list">
<p>Placa</p>
<p>Dueño</p>
<p>Ult mantenimiento</p>
<p>Prox mantenimiento</p>
<p> </p>
<!-- info info info -->
<p>QCO90D</p>
<p>Guillermo Leon Gallego</p>
<p>20/01/2003</p>
<p>20/06/2003</p>
<button>Visualizar</button>
<p>QCO90D</p>
<p>Guillermo Leon Gallego</p>
<p>20/01/2003</p>
<p>20/06/2003</p>
<button>Visualizar</button>
<p>QCO90D</p>
<p>Guillermo Leon Gallego</p>
<p>20/01/2003</p>
<p>20/06/2003</p>
<button>Visualizar</button>


</div>