<div class="input">
    <input type="text" name="" id="" placeholder="Placa - Dueño">
    <span class="material-symbols-outlined">search</span>
    <button (click)="mostrar(['add','oculter','vehicle_create'],['vehicle_edit'])">Crear</button>
</div>
<div class="grid-list">

<p>Placa</p>
<p>Dueño</p>
<p>Ult mantenimiento</p>
<p>Prox mantenimiento</p>
<p> </p>
<p> </p>

<!-- info info info -->
<ng-container *ngFor="let vehicle of vehicles">
    <p>{{vehicle.plate}}</p>
    <p>{{vehicle.ownerName}}</p>
    <p>{{vehicle.lastmaintenance.Textdate}}</p>
    <p>{{vehicle.Nextmaintenance.Textdate}}</p>
    <button routerLink="/car/{{vehicle._id}}">Visualizar</button>
    <button (click)="editar(vehicle._id||'')">Modificar</button>
</ng-container>
</div>

<div id="oculter" (click)="ocultar(['add','oculter'])" class="oculter oculto"></div>

<div id="add" class="inputModal oculto">
    <div class="inputModal__text">
        <span>Placa</span>
        <input id="vehicle_plate" type="text">
    </div>
    <div class="inputModal__text">
        <span>Nombre dueño</span>
        <input id="vehicle_ownerName" type="text">
    </div>
    <div class="inputModal__text">
        <span>Cedula dueño</span>
        <input id="vehicle_ownerDni" type="text">
    </div>
    <div class="inputModal__text">
        <span>Año</span>
        <input id="vehicle_year" type="text">
    </div>
    <div class="inputModal__text">
        <span>Km</span>
        <input  id="vehicle_km" type="text">
    </div>
    <div class="inputModal__select">
        <span>Selecione el modelo</span>
        <select id="vehicle_type" name="">
            <option *ngFor="let type of types" value="{{type._id}}" >{{type.model}}</option>
        </select>
    </div>

    <div class="inputModal__actions">
        <div id="vehicle_create" class="create">
            <button (click)="vehicle_create()">Crear</button>
        </div>

        <div id="vehicle_edit" class="edit oculto">
            <button (click)="vehicle_edit()">Editar</button>
            <button (click)="vehicle_delete()">Eliminar</button>
        </div>
    </div>

</div>